In [20]:
#Loading necessary modules
import pandas as pd
import numpy as np

In [21]:
# Load traintest data
traintest = pd.read_csv('Code5_6_traintest.csv',index_col = 0)
traintest_backup = traintest.copy()

In [22]:
traintest.head()

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,...,dayssince_namessn,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label
0,1,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0
1,2,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,1
2,3,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0
3,4,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0
4,5,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0

In [23]:
traintest.shape

(833507, 29)

In [24]:
vars = traintest.columns
vars

Index(['record', 'dayssince_fulladdress', 'vel_fulladdress_30',
       'vel_fulladdress_14', 'vel_fulladdress_7', 'vel_fulladdress_3',
       'relv_fulladdress_14', 'relv_fulladdress_30', 'relv_fulladdress_60',
       'vel_fulladdress_1', 'dayssince_fulladdressphone',
       'vel_fulladdressphone_30', 'dayssince_namedob', 'vel_namedob_30',
       'dayssince_ssn', 'vel_ssn_30', 'dayssince_ssnnamedob',
       'vel_ssnnamedob_30', 'vel_fulladdressphone_60', 'dayssince_namessn',
       'vel_namessn_30', 'vel_namedob_60', 'vel_ssnnamedob_60',
       'vel_fulladdressphone_14', 'vel_namessn_60', 'vel_namedob_14',
       'vel_ssndob_14', 'vel_ssn_14', 'fraud_label'],
      dtype='object')

In [25]:
# oot = data[data['date']>='2016-11-01']
# traintest  = data[data['date']<'2016-11-01']
X, y = traintest.drop(axis=1, labels=['fraud_label', 'record']).values, traintest[['fraud_label']].values.ravel()

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print(X_train.shape,y_train.shape)
print(type(X_train),type(y_train))

(583454, 27) (583454,)
<class 'numpy.ndarray'> <class 'numpy.ndarray'>

## add oot test result

In [27]:
oot = pd.read_csv('Code5_6_oot.csv',index_col = 0)
X_oot, y_oot = oot.drop(axis=1, labels=['fraud_label', 'record']).values, oot[['fraud_label']].values.ravel()

In [28]:
oot.head()

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,...,dayssince_namessn,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label
833507,833508,-2.005877,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-2.057991,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
833508,833509,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
833509,833510,0.537280,1.475749,1.568788,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.536002,1.906670,1.742048,1.749690,2.004640,1.722942,2.05111,2.052253,2.021161,0
833510,833511,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
833511,833512,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0

In [29]:
oot.shape

(166493, 29)

## Define funciton to evaulate model result

In [30]:
def FDR_top3perc_evaluation(model, X_test, y_test):
    '''calculate the percentage of fraud caught at top 3 percent in decreasing order'''
    result = model.predict_proba(X_test)[:,1]
    test_pred =  pd.DataFrame(y_test, columns = ['fraud_label'])
    test_pred['predicted']= result.tolist()
    test_pred = test_pred.sort_values(by='predicted', ascending = False)
    
    
    topRows= int(round(len(test_pred)*0.03)) # number of rows to slice for evaluaiton
    top = test_pred.head(topRows)
    
    total_num_fraud= y_test.sum() # total number of fraud in test dataset
    
    FDR = top.loc[:,'fraud_label'].sum() / total_num_fraud
    print(FDR)

## Logistics Linear Regression

We will use LogisticRegressionfrom Scikit-Learn for our first model. The only change we will make from the default model settings is to lower the regularization parameter, C, which controls the amount of overfitting (a lower value should decrease overfitting). This will get us slightly better results than the default LogisticRegression, but it still will set a low bar for any future models.

In [50]:
# from sklearn import linear_model

# clf =  linear_model.LogisticRegression(C= 0.0001).fit(X_train, y_train)

In [53]:
# FDR_top3perc_evaluation(clf, X_train, y_train)

0.4994514536478332

In [54]:
# FDR_top3perc_evaluation(clf, X_test, y_test)

0.48809950962803494

In [55]:
# FDR_top3perc_evaluation(clf, X_oot, y_oot)

0.4752724224643755

## Boosted Tree
A boosted tree is built by training a series of weak learners to finally build a strong learner. Each weak learner is basically a decision tree that is built to predict the residual error of the previous tree. These residual errors are used to allocate weights relative to their accuracies.

In [24]:
# from sklearn.ensemble import GradientBoostingClassifier
# bt = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1).fit(X_train, y_train)

In [25]:
# FDR_top3perc_evaluation(bt, X_train, y_train)

0.4638011766118382

In [26]:
# FDR_top3perc_evaluation(bt, X_test, y_test)

0.4758020663404024

In [27]:
# FDR_top3perc_evaluation(bt, X_oot, y_oot)

0.4551550712489522

## Random forest 
A meta estimator that fits a number of decision tree classifiers on various sub-samples of the dataset and uses averaging to improve the predictive accuracy and control over-fitting. The sub-sample size is always the same as the original input sample size but the samples are drawn with replacement if bootstrap=True (default).
        
n_estimatorsinteger, optional (default=100)The number of trees in the forest.       
        
max_depthinteger or None, optional (default=None): The maximum depth of the tree. If None, then nodes are expanded until all leaves are pure or until all leaves contain less than min_samples_split samples.

In [20]:
# from sklearn.ensemble import RandomForestClassifier
# rfc = RandomForestClassifier(max_depth=2, n_estimators = 100,  n_jobs = -1).fit(X_train, y_train)

In [21]:
# FDR_top3perc_evaluation(rfc, X_train, y_train)

0.4971785328370753

In [22]:
# FDR_top3perc_evaluation(rfc, X_test, y_test)

0.5087003806416531

In [23]:
# FDR_top3perc_evaluation(rfc, X_oot, y_oot)

0.48826487845766975

## Neural Network

In [31]:
from sklearn.neural_network import MLPClassifier
nn = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2)).fit(X_train, y_train)

C:\Users\jayan\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [32]:
FDR_top3perc_evaluation(nn, X_train, y_train)

0.5303913405495421

In [33]:
FDR_top3perc_evaluation(nn, X_test, y_test)

0.5197222222222222

In [34]:
FDR_top3perc_evaluation(nn, X_oot, y_oot)

0.5150880134115675

In [40]:
result = nn.predict_proba(X_train)[:,1]
result

array([0.00718828, 0.00718828, 0.00718828, ..., 0.00718828, 0.00718828,
       0.00718828])

In [42]:
train_pred =  pd.DataFrame(result, columns = ['fraud_label_predicted'])
train_pred

        fraud_label_predicted
0                    0.007188
1                    0.007188
2                    0.007188
3                    0.007188
4                    0.007188
...                       ...
583449               0.007188
583450               0.007188
583451               0.007188
583452               0.007188
583453               0.007188

[583454 rows x 1 columns]

In [44]:
training = pd.DataFrame(y_train, columns =['fraud_label' ])\
.join(train_pred).sort_values(by = 'fraud_label_predicted', ascending = False)
training

        fraud_label  fraud_label_predicted
475236            1           1.000000e+00
208988            1           1.000000e+00
52317             1           1.000000e+00
180116            1           1.000000e+00
224551            1           1.000000e+00
...             ...                    ...
433526            0           2.661055e-04
410228            0           2.060044e-04
420031            0           2.037833e-04
438422            0           1.254513e-04
352121            0           7.613739e-08

[583454 rows x 2 columns]

In [45]:
training['group'] =pd.qcut(training['fraud_label_predicted'].rank(method='first'), q=100)
training

        fraud_label  fraud_label_predicted                  group
475236            1           1.000000e+00  (577619.47, 583454.0]
208988            1           1.000000e+00  (577619.47, 583454.0]
52317             1           1.000000e+00  (577619.47, 583454.0]
180116            1           1.000000e+00  (577619.47, 583454.0]
224551            1           1.000000e+00  (577619.47, 583454.0]
...             ...                    ...                    ...
433526            0           2.661055e-04       (0.999, 5835.53]
410228            0           2.060044e-04       (0.999, 5835.53]
420031            0           2.037833e-04       (0.999, 5835.53]
438422            0           1.254513e-04       (0.999, 5835.53]
352121            0           7.613739e-08       (0.999, 5835.53]

[583454 rows x 3 columns]

In [46]:
training_tb = training.groupby(['group']).sum().sort_index( ascending = False).head(20)[['fraud_label']].rename(columns={'fraud_label':'# Bads'})
training_tb

                        # Bads
group
(577619.47, 583454.0]     4248
(571784.94, 577619.47]     166
(565950.41, 571784.94]      51
(560115.88, 565950.41]      45
(554281.35, 560115.88]      37
(548446.82, 554281.35]      51
(542612.29, 548446.82]      38
(536777.76, 542612.29]      43
(530943.23, 536777.76]      42
(525108.7, 530943.23]       39
(519274.17, 525108.7]       43
(513439.64, 519274.17]      37
(507605.11, 513439.64]      47
(501770.58, 507605.11]      44
(495936.05, 501770.58]      39
(490101.52, 495936.05]      52
(484266.99, 490101.52]      32
(478432.46, 484266.99]      46
(472597.93, 478432.46]      48
(466763.4, 472597.93]       42

In [47]:
training_final = training_tb.join(training_tb.cumsum().rename(columns ={ '# Bads':'Cumulative Bads'}))

In [48]:
#training_final.to_excel('training.xlsx')
training_final

                        # Bads  Cumulative Bads
group
(577619.47, 583454.0]     4248             4248
(571784.94, 577619.47]     166             4414
(565950.41, 571784.94]      51             4465
(560115.88, 565950.41]      45             4510
(554281.35, 560115.88]      37             4547
(548446.82, 554281.35]      51             4598
(542612.29, 548446.82]      38             4636
(536777.76, 542612.29]      43             4679
(530943.23, 536777.76]      42             4721
(525108.7, 530943.23]       39             4760
(519274.17, 525108.7]       43             4803
(513439.64, 519274.17]      37             4840
(507605.11, 513439.64]      47             4887
(501770.58, 507605.11]      44             4931
(495936.05, 501770.58]      39             4970
(490101.52, 495936.05]      52             5022
(484266.99, 490101.52]      32             5054
(478432.46, 484266.99]      46             5100
(472597.93, 478432.46]      48             5148
(466763.4, 472597.93]       42             5190

In [50]:
training['fraud_label'].sum()

8407

In [90]:
testing['fraud_label'].sum()

3659

In [73]:
result = nn.predict_proba(X_test)[:,1]
test_pred =  pd.DataFrame(result, columns = ['fraud_label_predicted'])

testing = pd.DataFrame(y_test, columns =['fraud_label' ])\
.join(test_pred).sort_values(by = 'fraud_label_predicted', ascending = False)
testing['group'] =pd.qcut(testing['fraud_label_predicted'].rank(method='first'), q=100)

In [77]:
testing_tb = testing.groupby(['group']).sum().sort_index( ascending = False).head(20)[['fraud_label']].rename(columns={'fraud_label':'# Bads'})
testing_final = testing_tb.join(testing_tb.cumsum().rename(columns ={ '# Bads':'Cumulative Bads'}))
#testing_final.to_excel('testing.xlsx')
testing_final

In [79]:
testing_final

                        # Bads  Cumulative Bads
group
(247552.48, 250053.0]     1848             1848
(245051.96, 247552.48]      85             1933
(242551.44, 245051.96]      22             1955
(240050.92, 242551.44]      17             1972
(237550.4, 240050.92]       16             1988
(235049.88, 237550.4]       23             2011
(232549.36, 235049.88]      20             2031
(230048.84, 232549.36]      21             2052
(227548.32, 230048.84]      22             2074
(225047.8, 227548.32]       14             2088
(222547.28, 225047.8]       15             2103
(220046.76, 222547.28]      22             2125
(217546.24, 220046.76]      20             2145
(215045.72, 217546.24]      21             2166
(212545.2, 215045.72]       23             2189
(210044.68, 212545.2]       17             2206
(207544.16, 210044.68]      27             2233
(205043.64, 207544.16]      21             2254
(202543.12, 205043.64]      21             2275
(200042.6, 202543.12]       13             2288

In [80]:
result = nn.predict_proba(X_oot)[:,1]
oot_pred =  pd.DataFrame(result, columns = ['fraud_label_predicted'])

oot = pd.DataFrame(y_oot, columns =['fraud_label' ])\
.join(oot_pred).sort_values(by = 'fraud_label_predicted', ascending = False)
oot['group'] =pd.qcut(oot['fraud_label_predicted'].rank(method='first'), q=100)

In [81]:
oot_tb = oot.groupby(['group']).sum().sort_index( ascending = False).head(20)[['fraud_label']].rename(columns={'fraud_label':'# Bads'})
oot_final = oot_tb.join(oot_tb.cumsum().rename(columns ={ '# Bads':'Cumulative Bads'}))
#oot_final.to_excel('oot.xlsx')
oot_final

## SVM
# this is taking a long time to run for me (Iris) > 30 mins
C float, optional (default=1.0)
Regularization parameter. The strength of the regularization is inversely proportional to C. Must be strictly positive. The penalty is a squared l2 penalty.     
      
gamma{â€˜scaleâ€™, â€˜autoâ€™} or float, optional (default=â€™scaleâ€™)        

kernelstring, optional (default=â€™rbfâ€™) Specifies the kernel type to be used in the algorithm. It must be one of â€˜linearâ€™, â€˜polyâ€™, â€˜rbfâ€™, â€˜sigmoidâ€™...          

Kernel coefficient for â€˜rbfâ€™, â€˜polyâ€™ and â€˜sigmoidâ€™.

In [ ]:
# from sklearn.svm import SVC
# # svm = SVC(gamma='auto', probability= True).fit(X_train, y_train)

In [ ]:
# FDR_top3perc_evaluation(svm, X_train, y_train)

In [ ]:
# FDR_top3perc_evaluation(svm, X_test, y_test)

In [ ]:
# FDR_top3perc_evaluation(svm, X_oot, y_oot)