In [1]:
# Importing necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Reading Applications Raw Data
data = pd.read_csv("Code1_application.csv")
data.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
0,1,20160101,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,2765,19070626,1797504115,0
1,2,20160101,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1
2,3,20160101,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,19070626,216537580,0
3,4,20160101,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0
4,5,20160101,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,3173,19980315,6101082272,0

In [3]:
# Data After creating new variables
df=pd.read_csv('Code2_All_Variable_Data.csv')
df.head()

,record,ssn_daysince,ssn_vel_0,ssn_unique_namedob_0,ssn_unique_fulladdress_0,ssn_unique_homephone_0,ssn_vel_1,ssn_unique_namedob_1,ssn_unique_fulladdress_1,ssn_unique_homephone_1,...,dob_phone_vel_7,dob_phone_vel_14,dob_phone_vel_30,dob_phone_vel_60,dob_phone_relVel_3,dob_phone_relVel_7,dob_phone_relVel_14,dob_phone_relVel_30,dob_phone_relVel_60,risk_week
0,1,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499
1,2,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499
2,3,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499
3,4,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499
4,5,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499

In [4]:
# Adding  fraud labels
df['fraud_label'] = data['fraud_label']
df.head()

,record,ssn_daysince,ssn_vel_0,ssn_unique_namedob_0,ssn_unique_fulladdress_0,ssn_unique_homephone_0,ssn_vel_1,ssn_unique_namedob_1,ssn_unique_fulladdress_1,ssn_unique_homephone_1,...,dob_phone_vel_14,dob_phone_vel_30,dob_phone_vel_60,dob_phone_relVel_3,dob_phone_relVel_7,dob_phone_relVel_14,dob_phone_relVel_30,dob_phone_relVel_60,risk_week,fraud_label
0,1,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499,0
1,2,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499,1
2,3,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499,0
3,4,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499,0
4,5,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014499,0

In [5]:
# retaining only relevant 29 columns
col = ['record','fulladdress_daysince','fulladdress_vel_30','fulladdress_vel_14','fulladdress_vel_7','fulladdress_vel_3',
        'fulladdress_relVel_14','fulladdress_relVel_30','fulladdress_relVel_60','fulladdress_vel_1','fulladdress_phone_daysince',
        'fulladdress_phone_vel_30','namedob_daysince','namedob_vel_30','ssn_daysince','ssn_vel_30',
        'ssn_namedob_daysince','ssn_namedob_vel_30','fulladdress_phone_vel_60','ssn_name_daysince','ssn_name_vel_30','namedob_vel_60',
        'ssn_namedob_vel_60','fulladdress_phone_vel_14','ssn_name_vel_60','namedob_vel_14','ssn_dob_vel_14','ssn_vel_14','fraud_label']

df = df[col]
df.head()
col

['record',
 'fulladdress_daysince',
 'fulladdress_vel_30',
 'fulladdress_vel_14',
 'fulladdress_vel_7',
 'fulladdress_vel_3',
 'fulladdress_relVel_14',
 'fulladdress_relVel_30',
 'fulladdress_relVel_60',
 'fulladdress_vel_1',
 'fulladdress_phone_daysince',
 'fulladdress_phone_vel_30',
 'namedob_daysince',
 'namedob_vel_30',
 'ssn_daysince',
 'ssn_vel_30',
 'ssn_namedob_daysince',
 'ssn_namedob_vel_30',
 'fulladdress_phone_vel_60',
 'ssn_name_daysince',
 'ssn_name_vel_30',
 'namedob_vel_60',
 'ssn_namedob_vel_60',
 'fulladdress_phone_vel_14',
 'ssn_name_vel_60',
 'namedob_vel_14',
 'ssn_dob_vel_14',
 'ssn_vel_14',
 'fraud_label']

In [6]:
# Updating days since
df2 = pd.read_csv("Code2_DaysSince.csv",index_col = 0)
df2.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,...,dayssince_namedobfulladdress,dayssince_fulladdressphone,dayssince_namedobphone,dayssince_firstnamessn,dayssince_lastnamessn,dayssince_namephone,dayssince_namefulladdress,dayssince_namezip,dayssince_namephonefulladdress,dayssince_namessn
0,1,2016-01-01,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,2765,1,1797504115,0,...,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
1,2,2016-01-01,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1,...,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
2,3,2016-01-01,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,3,216537580,0,...,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
3,4,2016-01-01,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0,...,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
4,5,2016-01-01,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,3173,19980315,6101082272,0,...,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0

In [7]:
# Changing names to previous style
name_mapping = {
                'record': 'record',
                'fraud_label': 'fraud_label',
    'fulladdress_vel_1': 'vel_fulladdress_1',
 'fulladdress_vel_3': 'vel_fulladdress_3',
 'fulladdress_vel_7':'vel_fulladdress_7',
 'fulladdress_vel_14': 'vel_fulladdress_14',
 'fulladdress_vel_30': 'vel_fulladdress_30',
 'fulladdress_relVel_14': 'relv_fulladdress_14',
 'fulladdress_relVel_30': 'relv_fulladdress_30',
 'fulladdress_relVel_60': 'relv_fulladdress_60',
 'fulladdress_phone_vel_14': 'vel_fulladdressphone_14',
 'fulladdress_phone_vel_30': 'vel_fulladdressphone_30',
 'fulladdress_phone_vel_60': 'vel_fulladdressphone_60',
 'ssn_vel_14': 'vel_ssn_14', 
 'ssn_vel_30': 'vel_ssn_30',
 'ssn_namedob_vel_30': 'vel_ssnnamedob_30',
 'ssn_namedob_vel_60': 'vel_ssnnamedob_60',
 'ssn_name_vel_30': 'vel_namessn_30',
 'ssn_name_vel_60': 'vel_namessn_60',
 'ssn_dob_vel_14': 'vel_ssndob_14',
 'namedob_vel_14': 'vel_namedob_14',
 'namedob_vel_30': 'vel_namedob_30',
 'namedob_vel_60': 'vel_namedob_60',
 'namedob_daysince' : 'dayssince_namedob',
 'ssn_name_daysince' :  'dayssince_namessn',
 'ssn_namedob_daysince': 'dayssince_ssnnamedob',
 'ssn_daysince': 'dayssince_ssn',
 'fulladdress_phone_daysince': 'dayssince_fulladdressphone',
 'fulladdress_daysince': 'dayssince_fulladdress'
 
}
pd.set_option('display.max_columns', None) 
df.columns = df.columns.map(name_mapping)
df.head()

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,dayssince_fulladdressphone,vel_fulladdressphone_30,dayssince_namedob,vel_namedob_30,dayssince_ssn,vel_ssn_30,dayssince_ssnnamedob,vel_ssnnamedob_30,vel_fulladdressphone_60,dayssince_namessn,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label
0,1,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,0.0,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,0.0,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,3,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,0.0,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,4,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,0.0,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,5,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,365.0,0.0,0.0,365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [9]:
# Updating dayssince in right format
df['dayssince_namedob'] = df2['dayssince_namedob']
df[ 'dayssince_namessn']= df2[ 'dayssince_namessn']
df['dayssince_ssnnamedob'] = df2['dayssince_ssnnamedob']
df['dayssince_ssn'] = df2['dayssince_ssn']
df['dayssince_fulladdressphone'] = df2['dayssince_fulladdressphone']
df['dayssince_fulladdress'] = df2['dayssince_fulladdress']
df.head()

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,dayssince_fulladdressphone,vel_fulladdressphone_30,dayssince_namedob,vel_namedob_30,dayssince_ssn,vel_ssn_30,dayssince_ssnnamedob,vel_ssnnamedob_30,vel_fulladdressphone_60,dayssince_namessn,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label
0,1,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,3,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,4,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,5,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,20.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [10]:
list(df.columns)

['record',
 'dayssince_fulladdress',
 'vel_fulladdress_30',
 'vel_fulladdress_14',
 'vel_fulladdress_7',
 'vel_fulladdress_3',
 'relv_fulladdress_14',
 'relv_fulladdress_30',
 'relv_fulladdress_60',
 'vel_fulladdress_1',
 'dayssince_fulladdressphone',
 'vel_fulladdressphone_30',
 'dayssince_namedob',
 'vel_namedob_30',
 'dayssince_ssn',
 'vel_ssn_30',
 'dayssince_ssnnamedob',
 'vel_ssnnamedob_30',
 'vel_fulladdressphone_60',
 'dayssince_namessn',
 'vel_namessn_30',
 'vel_namedob_60',
 'vel_ssnnamedob_60',
 'vel_fulladdressphone_14',
 'vel_namessn_60',
 'vel_namedob_14',
 'vel_ssndob_14',
 'vel_ssn_14',
 'fraud_label']

In [11]:

days_since_columns = ['dayssince_namedob','dayssince_namessn','dayssince_ssnnamedob',
                      'dayssince_ssn','dayssince_fulladdressphone','dayssince_fulladdress']

for i in days_since_columns: 
    maximum = df[i].max()
    df[i] = maximum - df[i]
df.head()

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,dayssince_fulladdressphone,vel_fulladdressphone_30,dayssince_namedob,vel_namedob_30,dayssince_ssn,vel_ssn_30,dayssince_ssnnamedob,vel_ssnnamedob_30,vel_fulladdressphone_60,dayssince_namessn,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label
0,1,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,0.0,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,0.0,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,3,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,0.0,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,4,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,0.0,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,5,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,345.0,0.0,0.0,345.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [12]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
record,1000000.0,500000.500000,288675.278933,1.0,250000.75,500000.5,750000.25,1000000.0
dayssince_fulladdress,1000000.0,331.704547,45.219388,0.0,345.00,345.0,345.00,365.0
vel_fulladdress_30,1000000.0,0.064624,0.633831,0.0,0.00,0.0,0.00,29.0
vel_fulladdress_14,1000000.0,0.047969,0.606858,0.0,0.00,0.0,0.00,29.0
vel_fulladdress_7,1000000.0,0.038997,0.581225,0.0,0.00,0.0,0.00,29.0
vel_fulladdress_3,1000000.0,0.031425,0.542442,0.0,0.00,0.0,0.00,29.0
relv_fulladdress_14,1000000.0,0.004410,0.063014,0.0,0.00,0.0,0.00,1.0
relv_fulladdress_30,1000000.0,0.004346,0.062402,0.0,0.00,0.0,0.00,1.0
relv_fulladdress_60,1000000.0,0.004296,0.061880,0.0,0.00,0.0,0.00,1.0
vel_fulladdress_1,1000000.0,0.023947,0.482174,0.0,0.00,0.0,0.00,29.0
dayssince_fulladdressphone,1000000.0,333.032685,43.047741,0.0,345.00,345.0,345.00,365.0
vel_fulladdressphone_30,1000000.0,0.048207,0.507682,0.0,0.00,0.0,0.00,29.0
dayssince_namedob,1000000.0,333.500315,42.238374,0.0,345.00,345.0,345.00,365.0
vel_namedob_30,1000000.0,0.046295,0.496914,0.0,0.00,0.0,0.00,33.0
dayssince_ssn,1000000.0,332.098337,44.564510,0.0,345.00,345.0,345.00,365.0
vel_ssn_30,1000000.0,0.050825,0.513332,0.0,0.00,0.0,0.00,33.0
dayssince_ssnnamedob,1000000.0,333.621394,42.026614,0.0,345.00,345.0,345.00,365.0
vel_ssnnamedob_30,1000000.0,0.045940,0.496147,0.0,0.00,0.0,0.00,33.0
vel_fulladdressphone_60,1000000.0,0.073018,0.544596,0.0,0.00,0.0,0.00,29.0
dayssince_namessn,1000000.0,332.237319,44.333200,0.0,345.00,345.0,345.00,365.0
vel_namessn_30,1000000.0,0.048778,0.498892,0.0,0.00,0.0,0.00,33.0
vel_namedob_60,1000000.0,0.070197,0.533741,0.0,0.00,0.0,0.00,33.0
vel_ssnnamedob_60,1000000.0,0.069541,0.531785,0.0,0.00,0.0,0.00,33.0
vel_fulladdressphone_14,1000000.0,0.033782,0.481991,0.0,0.00,0.0,0.00,29.0
vel_namessn_60,1000000.0,0.075044,0.536847,0.0,0.00,0.0,0.00,33.0
vel_namedob_14,1000000.0,0.032363,0.471763,0.0,0.00,0.0,0.00,33.0
vel_ssndob_14,1000000.0,0.032260,0.471550,0.0,0.00,0.0,0.00,33.0
vel_ssn_14,1000000.0,0.034592,0.477650,0.0,0.00,0.0,0.00,33.0
fraud_label,1000000.0,0.014393,0.119104,0.0,0.00,0.0,0.00,1.0

In [13]:
df.to_csv("Code3_Final_29_Variable.csv")